{% extends 'base.html' %}
{% load static%}
{% block content %}
{% include 'includes/dashboardMobileHeader.html' %}

<!-- {%include 'includes/alerts.html'%} -->
    <section class="customer-body h-screen grid-cols-[150px 1fr]">
        <div class="hidden bg-white shadow-md md:flex flex-col items-center py-8 space-y-20">
            <div class="w-16 h-16"> 
                <img src={% static "images/logo.webp" %} alt=""/>
            </div>
            <div class="flex flex-col items-center space-y-10">
                <div>
                    <!-- Show tooltip on right -->
                    <a href={% url "marketplace" %}>
                        <img src="https://img.icons8.com/wired/30/null/marketplace-hub.png" data-tooltip-target="tooltip-marketplace" data-tooltip-placement="right"/>
                    </a>
                    <div id="tooltip-marketplace" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Marketplace
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
                <div>
                    <!-- Show tooltip on right -->
                    <a href={% url "myAccount" %}>
                        <img src="https://img.icons8.com/ios-glyphs/30/null/user--v1.png" data-tooltip-target="tooltip-right" data-tooltip-placement="right"/>
                    </a>
                    <div id="tooltip-right" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        My Account
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
                <div>
                    <!-- Show tooltip on right -->
                    <a href={% url "logout" %}>
                        <img src="https://img.icons8.com/sf-ultralight-filled/30/null   /power-off-button.png" data-tooltip-target="tooltip-logout" data-tooltip-placement="right"/>
                    </a>
                    <div id="tooltip-logout" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Logout
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="block md:grid grid-cols-10 bg-gray-200/50 h-screen">
            <div id="mid-section" class="col-span-7 font-monserat overflow-y-scroll main pt-28 md:pt-0">
                <!-- Top bar section -->
                <div id="top-bar" class="hidden px-10 backdrop-blur-xl z-10 md:flex justify-between items-center py-10 sticky top-0">
                    <div>
                        <div class="text-3xl font-monserat font-semibold">Welcome, {{user.first_name}}</div>
                        <p class="text-gray-400">Discover whatever you need easily</p> 
                    </div>
                    <form>   
                        <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                <svg aria-hidden="true" class="w-5 h-5 text-gray-500 " fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                            </div>
                            <input type="text" id="default-search" class="block w-full p-4 px-6 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search" required>
                        </div>
                    </form>
                </div>

                <div class="px-10 pb-12">
                    <!-- selection section -->
                    <div id="menu-select" class="flex overflow-x-scroll items-center gap-x-5 text-sm pb-12 main md:gap-x-14 md:text-lg">
                        <div class="selection-btn data-[pressed=true]:bg-mainColor data-[pressed=true]:text-white" data-pressed="true">Signature</div>
                        <div class="selection-btn data-[pressed=true]:bg-mainColor data-[pressed=true]:text-white" data-pressed="false">Croissant</div>
                        <div class="selection-btn data-[pressed=true]:bg-mainColor data-[pressed=true]:text-white" data-pressed="false">Waffle</div>
                        <div class="selection-btn data-[pressed=true]:bg-mainColor data-[pressed=true]:text-white" data-pressed="false">Coffee</div>
                        <div class="selection-btn data-[pressed=true]:bg-mainColor data-[pressed=true]:text-white" data-pressed="false">Cream</div>
                    </div>
    
                    <!-- menu items section -->
                    <div class="flex flex-wrap justify-center gap-11 md:justify-start">
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu1.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu2.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu3.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu4.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu5.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu6.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu7.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu8.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                        <div class="card flex flex-col space-y-2">
                            <div class="card__div relative" style="background-image: url('/static/images/menu9.jpg'); height:150px; background-size:cover; background-position: center;">
                                <span class="absolute top-2 right-2 p-1 bg-white h-10 w-10 rounded-md hover:cursor-pointer">
                                    <img src="https://img.icons8.com/sf-ultralight/75/E86E10/shopping-cart.png"/>
                                </span>
                            </div>
                            <p class="card__title">Almond Brown Sugar Croissant</p>
                            <p class="card_description">Sweet croisant with topping almonds and brown sugar</p>
                            <p class="text-lg font-semibold text-mainColor">$12.98 <span class="text-gray-400/50 text-base">/ 3pcs</span></p>
                        </div>
                    </div> 
                </div>
            </div>

            <div id="sideDrawer" class="bg-white shadow-md px-4 md:px-8 fixed top-0 left-0 right-0 font-spartan z-50 overflow-auto h-screen pb-10 transition-transform translate-x-full md:translate-x-0 duration-500 md:relative md:pb-0 md:col-span-3">
                <div class="flex justify-between items-center md:justify-start pr-4">
                    <p class="md:text-3xl font-monserat font-semibold py-10">Current Order</p> 
                    <img id="close-order" src="https://img.icons8.com/ios-filled/50/null/delete-sign--v1.png" class="md:hidden w-5 h-5 cursor-pointer"/>
                </div>
                <!-- orders -->
                <div id="orders_list" class="flex flex-col space-y-6 h-72 md:h-56 overflow-y-scroll drop-shadow-lg border-2 border-gray-200/60 py-6 px-6 mb-12">
                    {% for items in cart_item.cart_item %}
                    <div class="flex space-x-4 scale-95 md:scale-100">
                        <div class=" h-16 w-24 md:h-16 md:w-32 rounded-md" style="background-image: url('{{ items.fooditem.image.url}}'); background-size:cover; background-position: center;">
                        </div>
                        <div class="flex flex-col w-full">
                            <p class="card__title h-1/2 md:text-base">{{items.fooditem.food_title}}</p>
                            <div class="h-1/2 flex items-end justify-between">
                                <p class="text-sm md:text-lg font-semibold text-mainColor">${{items.fooditem.price}}</p>
                                <div class="flex space-x-3">
                                    <span class="h-4 w-4 flex items-center justify-center bg-mainColor/50 rounded-sm hover:cursor-pointer">
                                        <img src="https://img.icons8.com/android/24/ffffff/plus.png" class="h-3 w-3 md:h-4 md:w-4"/>
                                    </span>
                                    <p class="">{{items.quantity}}</p>
                                    <span class="h-4 w-4 flex items-center justify-center bg-mainColor rounded-sm hover:cursor-pointer">
                                        <img src="https://img.icons8.com/ios-filled/50/ffffff/minus-math.png"/>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>  
                    {% endfor %}
                </div>
                <div class="md:absolute md:bottom-5 md:left-0 w-full md:px-10 scale-95 md:scale-95">
                    <div class="flex flex-col items-center">
                        <div class="bg-gray-300/20 py-6 w-full rounded-xl rounded-bl-2xl rounded-br-2xl flex flex-col space-y-2">
                            <div class="flex justify-between items-center px-8">
                                <p class="text-sm md:text-base text-gray-500/90 font-medium">Subtotal</p>
                                <p class="text-base font-bold md:text-lg">$37.61</p>
                            </div>
                            <div class="flex justify-between items-center px-8">
                                <p class="text-sm md:text-base text-gray-500/90 font-medium">Discount sales</p>
                                <p class="text-base font-bold md:text-lg">-$5.00</p>
                            </div>
                            <div class="flex justify-between items-center px-8">
                                <p class="text-sm md:text-base text-gray-500/90 font-medium">Total sales tax</p>
                                <p class="text-base font-bold md:text-lg">$2.25</p>
                            </div>
                        </div>
                        <div class="relative bg-gray-300/20 w-[95%] h-2 before:absolute before:w-full before:border-t-2 before:border-dotted before:translate-y-1/2 before:border-black/30"></div>
                        <div class="bg-gray-300/20 py-6 w-full rounded-xl rounded-tl-2xl rounded-tr-2xl mb-10">
                            <div class="flex justify-between items-center px-8">
                                <p class="text-lg font-medium md:text-2xl">Total</p>
                                <p class="text-base font-bold md:text-lg">$34.86</p>
                            </div>
                        </div>
                    </div>
                    <button class="text-center py-3 md:py-5 bg-mainColor w-full text-white font-medium text-lg md:text-xl rounded-md hover:bg-mainColor/90 hover:shadow-xl">Continue to Payment</button>
                </div>
            </div>
        </div>
        
        <!-- drawer init and toggle -->
        <div class="text-center fixed bottom-0 left-0 w-full bg-black/20 rounded-tr-lg backdrop-blur-sm md:hidden">
            <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-target="drawer-swipe" data-drawer-show="drawer-swipe" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-0" aria-controls="drawer-swipe">
                <span class="absolute w-8 h-1 -translate-x-1/2 bg-white rounded-tl-lg rounded-tr-lg top-3 left-1/2"></span>
            </div>
         </div>
        
        <!-- drawer component -->
        <div id="drawer-swipe" class="fixed -bottom-2 left-0 z-40 w-full overflow-y-auto bg-black/20 border-t backdrop-blur-sm border-gray-200 rounded-t-lg md:hidden" tabindex="-1" aria-labelledby="drawer-swipe-label">
            <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-toggle="drawer-swipe">
                <span class="absolute w-8 h-1 -translate-x-1/2 bg-gray-300 rounded-xl top-3 left-1/2 dark:bg-gray-600"></span>
            </div>
            <div class="grid grid-cols-3 gap-4 p-4 lg:grid-cols-4">
                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Chart</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor hover:bg-mainColor/30" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Restaurants</div>
                </div>

                <div id="orders" class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Orders</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"></path><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Price</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30 ">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Users</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30 ">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Custom</div>
                </div>
            </div>
        </div>
 
</section>

{% endblock %}

{% block link %}
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
{% endblock link %}