{% extends 'accounts/base.html' %}
{% load static%}


{% block content%}
    <body class="px-4 py-6 md:px-0 bg-register bg-center bg-cover bg-no-repeat h-screen flex justify-center items-center" style="background-image:url({% static 'images/login.jpg' %})">
        <div class="max-w-screen-lg">
            <div class=" px-10 py-10 lg:shadow-xl border-[1px] bg-white rounded-md">
                <div class="text-center pb-16 flex">
                    <p class="text-amber-700 lg:px-16 text-lg lg:text-xl font-dancing">Reset your password</p>
                </div>
                <form action="{% url 'reset_password'%}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="flex flex-col space-y-5 mb-8">
                        <div class="mb-3 font-poppin">
                            <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">New password</label>
                            <input type="password" name="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                        </div> 
                    </div>
                    <div class="flex flex-col space-y-5 mb-2">
                        <div class="mb-6 font-poppin">
                            <label for="confirm_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Confirm new password</label>
                            <input type="password" name="confirm_password" id="confirm_password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"/>
                        </div> 
                    </div>
                    <ul class="italic text-red-500 text-[10px]">{{form.non_field_errors}}</ul>
                    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Reset</button>
                    
                    <!--Load message-->
                    {% include 'includes/alerts.html'%} 
                </form>
                <a href="{% url 'homepage' %}">
                    <div class="flex items-center justify-center h-10 w-10 rounded-full fixed top-16 left-5 bg-green-300 before:rounded-full before:absolute before:inset-1 before:bg-green-500 before:animate-ping after:rounded-full after:absolute after:inset-2 after:animate-pulse after:bg-green-700 cursor-pointer">
                        <svg class="w-5 h-5" fill="white" stroke="blue" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
                    </div>
                </a>
            </div>
        </div>
        <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
    </body>
{% endblock %}