{% extends 'base.html' %}
{% load static%}
{% block content %}
{% include 'includes/dashboardMobileHeader.html' %}

<!-- {%include 'includes/alerts.html'%} -->
    <section class="customer-body h-screen grid-cols-[150px 1fr]">
        <div class="hidden bg-white shadow-md md:flex flex-col items-center py-8 space-y-20">
            <div class="w-16 h-16"> 
                <img src={% static "images/logo.webp" %} alt=""/>
            </div>
            <div class="flex flex-col items-center space-y-10">
                <div>
                    <!-- Show tooltip on right -->
                    <a href={% url "marketplace" %}>
                        <img src="https://img.icons8.com/wired/30/null/marketplace-hub.png" data-tooltip-target="tooltip-marketplace" data-tooltip-placement="right"/>
                    </a>
                    <div id="tooltip-marketplace" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Marketplace
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
                <div>
                    <!-- Show tooltip on right -->
                    <a href={% url "logout" %}>
                        <img src="https://img.icons8.com/sf-ultralight-filled/30/null   /power-off-button.png" data-tooltip-target="tooltip-logout" data-tooltip-placement="right"/>
                    </a>
                    <div id="tooltip-logout" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        Logout
                        <div class="tooltip-arrow" data-popper-arrow></div>
                    </div>
                </div>
            </div>
        </div>
        <form id="form" action="{% url 'place_order' %}" method="post">
            {% csrf_token %}
            <div class="block md:grid grid-cols-10 bg-gray-200/50 h-screen">
                <div id="mid-section" class="col-span-7 font-monserat overflow-y-scroll main pt-28 md:pt-0">
                    <!-- Top bar section -->
                    <div id="top-bar" class="px-10 backdrop-blur-xl z-10 flex justify-between items-center py-10 sticky top-0 bg-white md:bg-transparent">
                        <div>
                            <div class="text-lg sm:text-xl md:text-3xl font-monserat font-semibold">Billing Address</div>
                        </div>
                        <div class="">
                            <div class="relative w-10 h-10 overflow-hidden border-2 border-mainColor flex justify-center items-center bg-gray-100 rounded-full dark:bg-gray-600">
                                <svg data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" class="absolute w-12 h-12 text-gray-400 -left-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                            </div>
                            <!-- <img id="avatarButton" type="button"  class="w-10 h-10 rounded-full cursor-pointer" src="/docs/images/people/profile-picture-5.jpg" alt="User dropdown"> -->
    
                            <!-- Dropdown menu -->
                            <div id="userDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-max dark:bg-gray-700 dark:divide-gray-600">
                                <div class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                                <div>{{user.first_name}} {{user.last_name}}</div>
                                <div class="font-medium truncate">{{user.email}}</div>
                                </div>
                                <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                                <li>
                                    <a href="{% url "myAccount" %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Dashboard</a>
                                </li>
                                <li>
                                    <a href="{% url "cprofile" %}" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Settings</a>
                                </li>
                                <li>
                                </li>
                            </ul>
                            <div class="py-1">
                                    <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Earnings</a>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="md:px-10 pb-12 md:mt-8">
                        <!-- billing checkou information -->                        
                        <div class="grid gap-6 mb-6 md:grid-cols-2 max-w-4xl bg-white px-8 py-14 md:shadow-shadow1 rounded-lg">
                            <div class="relative">
                                <label for="floating_outlined" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">First Name</label>
                                {{order_form.first_name}}
                            </div>
                            <div class="relative">
                                <label for="floating_outlined" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Last Name</label>
                                {{order_form.last_name}}
                            </div>
                            <div class="">
                                <label for="name" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Phone</label>
                                {{order_form.phone}}
                            </div>  
                            <div class="relative">
                                <label for="name" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Email</label>
                                {{order_form.email}}
                            </div>
                            <div class="relative">
                                <label for="name" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Address</label>
                                {{order_form.address}}
                            </div>
                            <div class="relative">
                                <label for="name" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Country</label>
                                {{order_form.country}}
                            </div>
                            <div class="relative">
                                <label for="name" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">State</label>
                                {{order_form.state}}
                            </div>
                            <div class="relative">
                                <label for="name" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">City</label>
                                {{order_form.city}}
                            </div>
                            <div class="relative">
                                <label for="name" class="text-gray-500 dark:text-[#7EC8E3] duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] text-sm dark:bg-[#090938] peer-focus:px-2 peer-focus:text-mainColor/60 peer-focus:dark:text-mainColor/50 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1">Pin Code</label>
                                {{order_form.pin_code}}
                            </div>
                        </div> 
                    </div>
                </div>
    
                <div id="sideDrawer" class="bg-white shadow-md px-4 md:px-8 fixed top-0 left-0 right-0 font-spartan z-50 overflow-y-auto h-screen pb-10 transition-transform translate-x-full md:translate-x-0 duration-500 md:relative md:pb-0 md:col-span-3">
                    <div class="flex justify-between items-center md:justify-start pr-4">
                        <p class="md:text-3xl font-monserat font-semibold py-10">Current Order</p> 
                        <img id="close-order" src="https://img.icons8.com/ios-filled/50/null/delete-sign--v1.png" class="md:hidden w-5 h-5 cursor-pointer"/>
                    </div>
                    <!-- orders -->
                    <div id="orders_list" class="flex flex-col space-y-6 drop-shadow-lg border border-gray-200/60 py-6 px-6 mb-12">
                        
                        {% for items in cart_item.cart_item %}
                        <div class="flex space-x-4 scale-95 md:scale-100" id="cart-item_{{items.id}}">
                            <div class="group relative h-16 w-24 md:h-16 md:w-32 rounded-md cursor-pointer before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:rounded-md before:z-[3] hover:before:bg-black/50 before:block" style="background-image: url('{{ items.fooditem.image.url}}'); background-size:cover; background-position: center;">
                            </div>  
                            <div class="flex flex-col w-full">
                                <p class="card__title h-1/2 md:text-base">{{items.fooditem.food_title}}</p>
                                <div class="h-1/2 flex items-end justify-between">
                                    <p class="text-sm md:text-lg font-semibold text-mainColor">${{items.fooditem.price}}</p>
                                    <div class="flex space-x-3">
                                        <p class="font-semibold">{{items.quantity}} QTY</p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        {% endfor %}
                    </div>
                    {% if cart_item.cart_item %}
                    <div class="w-full md:px-10 scale-95 md:scale-95">
                        <div class="flex flex-col items-center">
                            <div class="bg-gray-300/20 py-6 w-full rounded-xl rounded-bl-2xl rounded-br-2xl flex flex-col space-y-2">
                                <div class="flex justify-between items-center px-8">
                                    <p class="text-sm md:text-base text-gray-500/90 font-medium">Subtotal</p>
                                    <p class="text-base font-bold md:text-lg">${{subtotal}}</p>
                                </div>
                                <div class="flex justify-between items-center px-8">
                                    <p class="text-sm md:text-base text-gray-500/90 font-medium">Discount sales</p>
                                    <p class="text-base font-bold md:text-lg">-${{discount_sales}}</p>
                                </div>
                                <div class="flex justify-between items-center px-8">
                                    <p class="text-sm md:text-base text-gray-500/90 font-medium">Tax (VAT)</p>
                                    <p class="text-base font-bold md:text-lg">${{total_sales_tax}}</p>
                                </div>
                            </div>
                            <div class="relative bg-gray-300/20 w-[95%] h-2 before:absolute before:w-full before:border-t-2 before:border-dotted before:translate-y-1/2 before:border-black/30"></div>
                            <div class="bg-gray-300/20 py-6 w-full rounded-xl rounded-tl-2xl rounded-tr-2xl mb-10">
                                <div class="flex justify-between items-center px-8">
                                    <p class="text-lg font-medium md:text-2xl">Total</p>
                                    <p class="text-base font-bold md:text-lg">${{total}}</p>
                                </div>
                            </div>
                        </div>
                        <p class="text-sm mb-4">Choose payment method</p>
                        <div class="flex space-x-4 items-center mb-8">
                            <div class="relative">
                                <input class="payment_method peer" name="payment_method" type="radio" value="paypal"/>
                                <div class="peer-checked:border  peer-checked:bg-green-200 p-2 border border-transparent">
                                    <img class="h-5" src={% static 'images/paypal3.svg' %}/>
                                </div>
                            </div>
                            <div class="relative">
                                <input class="payment_method peer" name="payment_method" type="radio" value="paystack"/>
                                <div class="peer-checked:border peer-checked:bg-green-200 p-2 border border-transparent">
                                    <img class="h-5 " src={% static 'images/paystack-2.svg' %}/>
                                </div>
                            </div>
                        </div>
                        <button id="confirm-payment" class="text-center py-3 md:py-5 bg-mainColor w-full text-white font-medium text-lg md:text-xl rounded-md hover:bg-mainColor/90 hover:shadow-xl">Proceed to Payment</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>   
        
        <!-- drawer init and toggle -->
        <div class="text-center fixed bottom-0 left-0 w-full bg-black/20 rounded-tr-lg backdrop-blur-sm md:hidden">
            <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-target="drawer-swipe" data-drawer-show="drawer-swipe" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-0" aria-controls="drawer-swipe">
                <span class="absolute w-8 h-1 -translate-x-1/2 bg-white rounded-tl-lg rounded-tr-lg top-3 left-1/2"></span>
            </div>
         </div>
        
        <!-- drawer component -->
        <div id="drawer-swipe" class="fixed -bottom-2 left-0 z-40 w-full overflow-y-auto bg-black/20 border-t backdrop-blur-sm border-gray-200 rounded-t-lg md:hidden" tabindex="-1" aria-labelledby="drawer-swipe-label">
            <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-toggle="drawer-swipe">
                <span class="absolute w-8 h-1 -translate-x-1/2 bg-gray-300 rounded-xl top-3 left-1/2 dark:bg-gray-600"></span>
            </div>
            <div class="grid grid-cols-3 gap-4 p-4 lg:grid-cols-4">
                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"></path><path d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Chart</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor hover:bg-mainColor/30" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Restaurants</div>
                </div>

                <div id="orders" class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Orders</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"></path><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Price</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30 ">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 6a3 3 0 11-6 0 3 3 0 016 0zM17 6a3 3 0 11-6 0 3 3 0 016 0zM12.93 17c.046-.327.07-.66.07-1a6.97 6.97 0 00-1.5-4.33A5 5 0 0119 16v1h-6.07zM6 11a5 5 0 015 5v1H1v-1a5 5 0 015-5z"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Users</div>
                </div>

                <div class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30 ">
                    <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                        <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"></path></svg>
                    </div>
                    <div class="font-medium text-center text-white text-[0.7rem]">Custom</div>
                </div>
            </div>
        </div>
 
</section>

{% endblock %}

{% block link %}
    <script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
{% endblock link %}