@tailwind base;
@tailwind components;
@tailwind utilities;

.errorlist li{
    @apply italic text-red-500 text-[10px] pt-2;
}
.customer-body{
    display: grid;
    grid-template-columns: 150px 1fr;
}

.card{
    @apply bg-white rounded-lg shadow-md w-[220px] h-[320px]
}
.selection-btn{
    @apply text-black bg-white px-5 py-1 font-medium font-spartan focus:bg-mainColor focus:text-white hover:bg-mainColor/30 hover:text-white hover:cursor-pointer
}
.card__div{
    @apply h-12 bg-cover bg-center w-full block border-2
}
.main::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .main {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }