{% load static%}

<!-- drawer init and toggle -->
<div class="text-center fixed bottom-0 left-0 w-full bg-black/20 rounded-tr-lg backdrop-blur-sm md:hidden">
    <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-target="drawer-swipe" data-drawer-show="drawer-swipe" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-0" aria-controls="drawer-swipe">
        <span class="absolute w-8 h-1 -translate-x-1/2 bg-white rounded-tl-lg rounded-tr-lg top-3 left-1/2"></span>
    </div>
 </div>

<!-- drawer component -->
<div id="drawer-swipe" class="fixed -bottom-2 left-0 z-40 w-full overflow-y-auto bg-black/20 border-t backdrop-blur-sm border-gray-200 rounded-t-lg md:hidden" tabindex="-1" aria-labelledby="drawer-swipe-label">
    <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-toggle="drawer-swipe">
        <span class="absolute w-8 h-1 -translate-x-1/2 bg-gray-300 rounded-xl top-3 left-1/2 dark:bg-gray-600"></span>
    </div>
    <div class="grid grid-cols-3 gap-4 p-4 lg:grid-cols-4">
        <a href="{% url 'marketplace' %}" class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
            <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                <svg class="inline w-8 h-8 text-mainColor hover:bg-mainColor/30" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5 4a3 3 0 00-3 3v6a3 3 0 003 3h10a3 3 0 003-3V7a3 3 0 00-3-3H5zm-1 9v-1h5v2H5a1 1 0 01-1-1zm7 1h4a1 1 0 001-1v-1h-5v2zm0-4h5V8h-5v2zM9 8H4v2h5V8z" clip-rule="evenodd"></path></svg>
            </div>
            <p class="font-medium text-center text-white text-[0.7rem]">Marketplace</p>
        </a>
        <div id="orders" class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
            <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M9 2a1 1 0 000 2h2a1 1 0 100-2H9z"></path><path fill-rule="evenodd" d="M4 5a2 2 0 012-2 3 3 0 003 3h2a3 3 0 003-3 2 2 0 012 2v11a2 2 0 01-2 2H6a2 2 0 01-2-2V5zm3 4a1 1 0 000 2h.01a1 1 0 100-2H7zm3 0a1 1 0 000 2h3a1 1 0 100-2h-3zm-3 4a1 1 0 100 2h.01a1 1 0 100-2H7zm3 0a1 1 0 100 2h3a1 1 0 100-2h-3z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="font-medium text-center text-white text-[0.7rem]">Current Orders</div>
        </div>
        <a href="{% url 'c_orders' %}" class="p-4 rounded-lg cursor-pointer bg-mainColor hover:bg-mainColor/30">
            <div class="flex justify-center items-center p-2 mx-auto mb-2 max-w-[48px] bg-gray-200 rounded-full w-18 h-18">
                <svg class="inline w-8 h-8 text-mainColor" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M8.433 7.418c.155-.103.346-.196.567-.267v1.698a2.305 2.305 0 01-.567-.267C8.07 8.34 8 8.114 8 8c0-.114.07-.34.433-.582zM11 12.849v-1.698c.22.071.412.164.567.267.364.243.433.468.433.582 0 .114-.07.34-.433.582a2.305 2.305 0 01-.567.267z"></path><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-13a1 1 0 10-2 0v.092a4.535 4.535 0 00-1.676.662C6.602 6.234 6 7.009 6 8c0 .99.602 1.765 1.324 2.246.48.32 1.054.545 1.676.662v1.941c-.391-.127-.68-.317-.843-.504a1 1 0 10-1.51 1.31c.562.649 1.413 1.076 2.353 1.253V15a1 1 0 102 0v-.092a4.535 4.535 0 001.676-.662C13.398 13.766 14 12.991 14 12c0-.99-.602-1.765-1.324-2.246A4.535 4.535 0 0011 9.092V7.151c.391.127.68.317.843.504a1 1 0 101.511-1.31c-.563-.649-1.413-1.076-2.354-1.253V5z" clip-rule="evenodd"></path></svg>
            </div>
            <div class="font-medium text-center text-white text-[0.7rem]">My Orders</div>
        </a>

    </div>
</div>