
{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Dine Out - Restaurant</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.css" integrity="sha512-4wfcoXlib1Aq0mUtsLLM74SZtmB73VHTafZAvxIp/Wk9u1PpIsrfmTvK0+yKetghCL8SHlZbMyEcV8Z21v42UQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/output.css'%}">
	</head>
	<body>
		<div class="page-loader">
			
		</div>

		<!--header content-->
		<!--main content-->
		{% block content%}

		{% endblock%}
		<!--footer content-->
		

		<script src="{% static 'js/script.js'%}"></script>
		<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
	</body>

</html>
